Source: ros-melodic-cloudwatch-metrics-collector
Section: misc
Priority: optional
Maintainer: AWS RoboMaker <ros-contributions@amazon.com>
Build-Depends: debhelper (>= 9.0.0), google-mock, libgtest-dev, ros-melodic-aws-common, ros-melodic-aws-ros1-common, ros-melodic-catkin, ros-melodic-cloudwatch-metrics-common, ros-melodic-ros-monitoring-msgs, ros-melodic-roscpp, ros-melodic-rostest, ros-melodic-std-msgs, ros-melodic-std-srvs
Homepage: http://wiki.ros.org/cloudwatch_metrics_collector
Standards-Version: 3.9.2

Package: ros-melodic-cloudwatch-metrics-collector
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-melodic-aws-common, ros-melodic-aws-ros1-common, ros-melodic-cloudwatch-metrics-common, ros-melodic-ros-monitoring-msgs, ros-melodic-roscpp, ros-melodic-std-msgs, ros-melodic-std-srvs
Description: Subscriber node for the aws/monitoring topic to publish metrics to AWS Cloudwatch
